
.form-style-9{
	max-width: 400px;
	background: #f6f5f5;
	padding: 30px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #305A72;
}
    .roww{
        margin: auto;
        overflow: hidden;
        background: #373B44;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, hsla(217, 89%, 61%, 0.675), hsla(222, 11%, 24%, 0.642)),url(https://i.pinimg.com/originals/5f/a0/6e/5fa06e7d9fdf561a6aecceef17a2aa69.jpg);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, hsla(217, 89%, 61%, 0.675), hsla(222, 11%, 24%, 0.642)),url(https://i.pinimg.com/originals/5f/a0/6e/5fa06e7d9fdf561a6aecceef17a2aa69.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-size: cover;
        background-attachment: fixed;
        position: relative;
      }